/*=============================================
			Theme Color
=============================================*/
a,
p a,
p a:hover,
a:hover,
a:focus,
a:active,
.tg-stars span:after,
.tg-sectionhead h2,
.tg-slidercontent h1,
.tg-class:hover .tg-classtitle h3 a,
.tg-class:hover .tg-price,
.tg-nameanddesignation span a:hover,
.tg-trainershortinfo span:hover a,
.tg-trainer:hover .tg-trainershortinfo .tg-trainername a,
.tg-addnav ul li.tg-dropdown .tg-setting .tg-languages:hover,
.tg-pagetitle h1 span,
.tg-ourstory ul li:after,
.tg-welcomecontent ul li:after,
.tg-widget ul li:hover a,
.tg-productcontent .tg-productname h3:hover a,
.tg-amountbox input,
blockquote q,
.tg-detailpage .tg-productinfo .tg-price,
.tg-404content h2,
.tg-videogallerynav li a:hover,
.tg-videogallerynav li a:hover h3,
.tg-videogallerynav li a:hover time,
.tg-videogallerynav li a:hover time i,
.tg-videogallerynav li a:hover time span,
.tg-packagehead h4 span,
.tg-nameandaddress:before{color: #436b9c;}
/*=============================================
			Theme Background Color
=============================================*/
.tg-sectionhead h2:after,
.tg-btn:hover:before,
.tg-navigationarea:before,
.tg-navigationarea:after,
.tg-navigation > ul > li > a,
.tg-trainersslider .tg-btncurveprev:hover:before,
.tg-trainersslider .tg-btncurvenext:hover:before,
.tg-btnaddtocart,
.tg-plus:hover,
.tg-minus:hover,
.tg-subscribeheading,
.tg-subscribeheading:after,
.tg-subscribeheading:before,
.tg-formsignup fieldset .tg-btn:hover:before,
.owl-carousel .owl-pagination .owl-page:hover span,
.owl-carousel .owl-pagination .owl-page.active span,
.tg-btnsliderprev:hover,
.tg-btnslidernext:hover,
.tg-newsarticleslider .tg-btncurveprev:hover:before,
.tg-newsarticleslider .tg-btncurvenext:hover:before,
.tg-productsslider .tg-btncurveprev:hover:before,
.tg-productsslider .tg-btncurvenext:hover:before,
.tg-fieldholder .tg-select:hover,
.tg-welcometofitandfat .tg-imgbox:after,
.tg-pagination ul li a:hover:before,
.tg-featuredicon,
.tg-widget ul li:hover a em,
.tg-themescrollbar .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.tg-themerangeslider .ui-slider-range,
.tg-btntag:hover,
.tg-btnreply:hover,
.tg-weight .tg-checkbox input[type=checkbox]:checked + label,
.tg-weight .tg-checkbox input[type=checkbox] + label:hover,
.tg-navtabs li:hover a,
.tg-navtabs li.active a,
.tg-skillbar,
.tg-skillbar span,
.tg-404searcharea .form-group button,
.tg-contactuscontent .tg-imgbox:after,
.tg-subscribeform fieldset .form-group button,
.tg-registrationmodal .modal-header,
.tg-dropdowarrow,
.tg-tagimg,
.tg-package:hover .tg-packageimg,
.tg-getfreeebook{background:#436b9c;}
/*=============================================
			Theme Border Color
=============================================*/
.tg-trainer:hover .tg-trainerimg:before,
.tg-welcomecontent .tg-awards li:hover figure,
.tg-btntag:hover,
.tg-btnreply:hover,
.tg-weight .tg-checkbox input[type=checkbox]:checked + label,
.tg-weight .tg-checkbox input[type=checkbox] + label:hover,
.tg-navtabs,
.tg-navtabs li:hover a,
.tg-navtabs li.active a,
.tg-skillbar span:after,
.tg-storyimg figure,
.tg-testimonials,
.tg-homebanner .tg-videobox{border-color: #436b9c;}
.tg-featuredicon:before,
.tg-registrationmodal .modal-header:before{border-bottom-color: #436b9c;}